/* Total Page Settings */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}

html {
    height: 100%;


}

/* Long white bar */

header {
    background-color: #ffffff;
    height: 110px;
    border-bottom:  5px solid #cccccc;
    
}


/* Container of title and nav */

#headcont {
   

    height: 110px;
    width: 960px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

/* sets the background of the page */

body { 

   
    background-image: url(../images/background.png);
    margin: 0;
    padding 0;

}





#title {
    float: left;
    background-color:#4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    text-align: center;
    padding: 40px;
    font-weight: bold;

    
    
    
}

/* nav bar properties */

#topnav {
    float: right;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
    

    
}

li a{
    text-decoration: none;
}

#topnav ul {
    clear: both;
    margin: 0;
    padding: 0;
    list-style: none;
  
}

#topnav li {
    float: left;
    padding: 10px;
   
    }


/* index page information */

.pagebody {
    clear: both;
  
    background-color:#ffffff;
    margin: 0 auto 0 auto;
    width: 960px;
    border: 5px solid #dddddd;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 80px;

}

#bodytitle {
    background-color: #ffffff;
    padding: 40px;
    font-size: 200%;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    
   
}

hr {
    margin-left: 30px;
    margin-right: 30px;

}


#article {
    padding: 20px;
}

img {
    width: 300px;
    padding: 20px;
    float: left;
}

p {
   line-height: 200%;
    
   
}


/* contact page information */

form {
   clear:both;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    text-align: left;
    margin-left: 40px;
    padding-bottom: 30px;
}

.inputinfo 
 {
     margin-top: 10px;
     padding-top: 10px;
     
 }

input[type=text]{
    
    width: 80%;
}
 
#button {
     background-color: #4aaaa5;
     color: white;
     padding: 5px;
 }




/* portfolio page */

.portfolio {
    clear: both;
    margin: 0 auto 0 auto;
    width: 960px;
   background-color: #ffffff;
   padding-bottom: 100px;
   border: 5px solid #dddddd;
   margin-bottom: 100px;

}


table {
    padding-top: 50px;
    padding-left: 30px;
}

.images {
    
    width: 350px;
    padding: 20px;
    margin: 0;
    
}


#hangman {
    position: absolute;
    width: 310px;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    padding: 10px;
    margin-top: 200px;
    margin-left: 20px;
    opacity: 0.8;
   
   
}

#RPGgame {
    position: absolute;
    width: 310px;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    padding: 10px;
    margin-top: 200px;
    margin-left: 20px;
    opacity: 0.8;
}

#triviagame {
    position: absolute;
    width: 310px;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    padding: 10px;
    margin-top: 200px;
    margin-left: 20px;
    opacity: 0.8;
}

#widget {
    position: absolute;
    width: 310px;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    padding: 10px;
    margin-top: 200px;
    margin-left: 20px;
    opacity: 0.8;
}

#rock {
    position: absolute;
    width: 310px;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    padding: 10px;
    margin-top: 200px;
    margin-left: 20px;
    opacity: 0.8;
}




/* footer */

 footer {
    clear: both;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
   height: 80px;
    margin: 0;
   bottom: 0;
   text-align: center;
   color: darkslategray;
   padding-top: 20px;


}




/* Media Queries */



/* large */
@media screen and (max-width: 980px) {

    .pagebody {
        width: 700px;
    }

    header ,
    footer , {
        width: 700px;
        margin-bottom: 30px;
    }

}



/* medium */
@media screen and (max-width: 768px) {

    .pagebody {
        width: 500px;

    }

    header,
    footer,{
        width: 500px;
        margin-bottom: 30px;
    }


}



/* small */
@media screen and (max-width: 640px) {

    .pagebody {
        width: 400px;
    }

    header, {
        position: static;
        width: 400px;
        margin-bottom: 30px
    }

    footer,{
        width: 400px;
        margin-bottom: 30px;
    }

}